CampusConnect/__pycache__
blog/__pycache__
blog/migrations
chat/__pycache__
chat/migrations
post/__pycache__
post/migrations
profiles/__pycache__
profiles/migrations
notification/__pycache__
notification/migrations
db.sqlite3
media