{% load static %}
{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock css_block %}
{% block body_block %}
        <div class="login-page">

<form class="login-form form" method="POST" enctype=multipart/form-data>
        {% csrf_token %}
        <h1>Register!</h1>
        {{ form.first_name.errors }}
        {{ form.first_name }}
        {{ form.last_name.errors }}
        {{ form.last_name }}
        {{ form.username.errors }}
        {{ form.username }}
        {{ form.email.errors }}
        {{ form.email }}
        {{ form.password.errors }}
        {{ form.password }}
        {{ form.confirm_password.errors }}
        {{ form.confirm_password }}
        <button type="submit" id='button' name="submit">Register</button>
        <p class="message">Already registered? <a href="{% url "profiles:login" %}">Log In</a></p>
        </div>
</form>
{% endblock body_block %} {% block footer %} {% endblock footer %}