{% extends 'base.html' %}{% load static %}
{% block css_block %}
<link rel="stylesheet" href="{% static 'css/blog/blog.css' %}">
{% endblock css_block %}
{% block body_block %}
<section class="blog_area single-post-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto posts-list">
                <div class="single-post row">
                    <div class="col-lg-12">
                        <div class="feature-img">
                            <img class="img-fluid" src="{{ blog.image.url }}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3  col-md-3">
                        <div class="blog_info">
                                        <ul class="blog_meta list">
                                            <li><a href="{% url 'profiles:profile_main' request.from_user.username %}">{{ blog.user.first_name }} {{ blog.user.last_name }}</a></li>
                                            <li>{{ blog.date }}</li>
                                            <li>{{ blog.comments.all.count }} Comments</li>
                                        </ul>

                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 blog_details">
                        <p class="excert">
                            {{ blog.text }}
                        </p>
                    </div>
                </div>
                <div class="comments-area">
                    <h4>Comments</h4>
                    {% for comment in blog.comment_set.all %}
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="col-12 user d-flex">
                                <div class="thumb">
                                    <img class='userimg' src="{{comment.user.profile.profile_photo.url}}">
                                </div>
                                <div class="desc">
                                    <h5><a href="{% url 'profiles:profile_main' request.from_user.username %}">{{ comment.user.first_name }} {{ comment.user.last_name }}</a></h5>
                                    <p class="date">{{ comment.date_created }}</p>
                                    <p class="comment">
                                        {{ comment.comment_text }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <form id="comment-form" method="POST"> 
                        {% csrf_token %}
                        <div class="form-group row">
                            <input type="text" id="comment-input" pid="{{ blog.id }}" url="{% url 'blog:blog_comment' %}" class="col-11 form-control" placeholder="Comment">
                            <button type="submit" class="col-1 btn"><i class='fa fa-send-o'></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body_block %}

{% block script_block %}
<script src="{% static 'js/blog.js' %}"></script>
{% endblock script_block %}