{% extends 'base.html' %}
{% load static %}

{% block css_block %}
<script src="https://use.typekit.net/hoy3lrg.js"></script>
<script>try { Typekit.load({ async: true }); } catch (e) { }</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/chat/chat.css' %}" />
{% endblock css_block %}
{% block body_block %}
{{ room_name|json_script:"room-name" }}
{{ current_user|json_script:"current-user" }}
<div id="frame">
    <div id="sidepanel">
        <div id="profile">
            <div class="wrap">
                <img id="profile-img" src="{{ user.profile.profile_photo.url }}" alt="" />
                <p>{{ request.user.first_name }} {{ request.user.last_name }}</p>
            </div>
        </div>
        <div id="search">
            <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
            <input type="text" placeholder="Search contacts..." />
        </div>
        <div id="contacts">
            <ul>

                {% for contact in contacts %}
                {% for person in contact.room.all %}
                {% if user != person %}
                <li class="contact">
                    <a class="wrap" href="{% url 'chat:room' room_name=contact.chat_id %}">
                        <img src="{{ person.profile.profile_photo.url }}" alt="" />
                        <div class="meta">
                            <p class="name">{{ person.first_name }} {{ person.last_name }}</p>
                            <p class="preview">{{contact.last_message}}</p>
                        </div>
                    </a>
                </li>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
        <div id="bottom-bar">
            <button id="addcontact" data-toggle="modal" data-target="#myModal"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add
                    Chat</span></button>
        </div>
    </div>
    <div class="content">
        <div class="contact-profile">
            <img id="contact-profile-img" src="{{ user2.profile.profile_photo.url }}" alt="" />
            <p>{{ user2.first_name }} {{ user2.last_name }}</p>
        </div>
        {% block message_block %}
        {% endblock message_block %}
    </div>
</div>

<!-- Trigger the modal with a button -->
<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style='margin: -0rem  0.3rem -1rem;'>
                <h4 class="modal-title">Add Chat</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body mt-1">
                {% for user in users %}
                    <li class='row'>
                        <img class='col-2' src = {{ user.profile.profile_photo.url }} alt=''>
                        <h5><a class="new_chat_btn col-10" url="{% url 'chat:create_room' %}" user_id="{{ user.id }}">{{ user }}</a></h5>
                    </li>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endblock body_block %}

{% block script_block %}
<script src="{% static 'js/inbox.js' %}"></script>
<script src="{% static 'js/room.js' %}"></script>
{% endblock script_block %}