{% extends 'chat/inbox.html' %}
{% load static %}
    {% block message_block %}
    <div class="messages">
      <ul>
        {% for message in chat.message_set.all %}
        <li class="{% if message.author == user %}sent{% else %}replies{% endif %}">
          <img
          src="{% if message.author == user %}{{ user.profile.profile_photo.url }}{% else %}{{ user2.profile.profile_photo.url }}{% endif %}"
          alt="" />
          <p>{{message.content}}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="message-input">
      <div class="wrap">
        <input id="chat-message-input" type="text" placeholder="Write your message..." />
        <button id="chat-message-submit" class="submit">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  {% endblock message_block %}