{% load static %}{% load notification_extras %}
<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incognito's</title>

    <!-- link here css files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css_block %}
    {% endblock css_block %}
</head>

<body>
    <header class="shadow-sm">
        <div class="header-wrapper p-4 col-12">
            <div class="header-content container row">

                <div class="logo col-lg-3 col-md-4 col-sm-3">
                    <a href="{% url 'post:feed' %}"><h1>Incognito's</h1></a>
                </div>

                <div class="search-form-wrapper col-lg-7 col-md-7">
                    <form autocomplete="off" method="GET" action="{% url 'profiles:search' %}" class="search-form row">
                        <input type="text" class="textbox col-lg-11 col-md-10 col-sm-10" placeholder="Search for users, blogs, posts and more" name="search" required>
                        <button type="submit" class="button col-lg-1 col-md-2 col-sm-2"><i class="fa fa-search"></i></button>
                    </form>
                </div>

                <div class="col-2 row">
                    <div class="notification-icon col-6"><h3><i class='fa fa-bell'></i></h3><span class='badge'>{{ user|notificationcount }}<span></div>
                    <div class="menu_toggler col-6"><span></span></div>
                </div>

            </div>
        </div>

        <div class="navbar-wrappper">
        <nav>
            <div class="menu">
                <a href="{% url 'post:feed' %}"><i class="fa fa-home"> </i> Home</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'profiles:profile_main' request.user.username %}"><i class="fa fa-user"> </i> Profile</a>
                {% endif %}
                <a href="{% url 'blog:blog_view_new' %}"><i class="fa fa-file"> </i> Blog</a>                
                <a href="{% url 'chat:inbox' %}"><i class="fa fa-comment"> </i> Chat</a>
                <a href="#"><i class="fa fa-info-circle"> </i> About Us</a>
                <a href="#"><i class="fa fa-phone"> </i> Contact Us</a>
                
                {% if user.is_authenticated %}
                    <a href="{% url 'profiles:logout' %}"><i class="fa fa-power-off"> </i> Log out</a>
                {% else %}
                    <a href="{% url 'profiles:login' %}"><i class="fa fa-sign-in"> </i> Log in</a>
                {% endif %}
            </div>
        </nav>
        </div>
    </header>
    {% block body_block %}
    {% endblock body_block %}
    <p id="notification"></p>


{% block footer %}
    <footer class="footer">
        <div class="pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-xs-12 about-company">
                        <h2>Incognito's</h2>
                        <p class="pr-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ante mollis quam tristique convallis Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ante mollis quam tristique convallis </p>
                    </div>
                    <div class="col-lg-3 col-xs-12 links">
                        <h4 class="mt-lg-0 mt-sm-3">Links</h4>
                        <ul class="pl-4">
                            <li> <a href="#"> Home</a></li>
                            <li> <a href="#"> Blog</a></li>
                            <li> <a href="#"> Contact</a></li>
                            <li> <a href="#"> About us</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-xs-12 location">
                        <h4 class="mt-lg-0 mt-sm-4">Location</h4>
                        <p>Lux, hilltop</p>
                        <p class="mb-0"><i class="fa fa-phone mr-3"></i>+91 9900115566</p>
                        <p><i class="fa fa-envelope-o mr-3"></i>info@email.com</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock footer %}
    <script src="{% static 'js/jquery.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
        
    <!-- linking here script files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/notification.js' %}"></script>
    {% block script_block %}
    {% endblock script_block %}
</body>

</html> 