{% extends 'base.html' %}{% load static %}
{% block body_block %}

<section class='mt-4 container'>

    {% comment %} <div class='edit-page'>
        <h2 class='mb-3'>Edit Profile</h2>
        <form class='form' method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update">
        </form>
    </div> {% endcomment %}

<div class="container mt-4">
    <h2 class='m-4'>Edit Profile</h2>

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row">
        <div class="col-sm-3">
            <div class="text-center">
            {% if profile.profile_photo %}
                <img src="{{profile.profile_photo.url}}" class="avatar img-circle img-thumbnail"
                    alt="userimg">
            {% else %}
            <img src="" class="avatar img-circle img-thumbnail"
                    alt="userimg">
            {% endif %}
{% comment %} 
                <input type="file" class="text-center center-block file-upload"> {% endcomment %}

                {{ form.profile_photo.errors }}
                            {{ form.profile_photo }}
            </div>
        </div>
        <!--/col-3-->
        <div class="col-sm-9">
            <form class="form" action="##" method="post" id="registrationForm">
                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="phone">
                            <h4>Phone</h4>
                        </label><br>
                        {% comment %} <input type="text" class="form-control" name="phone" id="phone"
                            {% if profile.phone %} {{profile.phone}} {% else %} placeholder="Phone" {% endif %}> {% endcomment %}
                    {{ form.phone.errors }}
                            {{ form.phone }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="profession">
                            <h4>Profession</h4>
                        </label><br>
                        {% comment %} <input type="text" class="form-control" name="profession" id="profession" {% if profile.profession %} {{profile.profession}} {% else %} placeholder="Profession" {% endif %}> {% endcomment %}
                   {{ form.profession.errors }}
                            {{ form.profession }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="facebook">
                            <h4>Facebook</h4>
                        </label><br>
                        {% comment %} <input type="text" class="form-control" name="facebook" id="facebook" {% if profile.facebook %} value="{{profile.facebook}}" {% else %} placeholder="Facebook" {% endif %}> {% endcomment %}
                    {{ form.facebook.errors }}
                            {{ form.facebook }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="instagram">
                            <h4>Instagram</h4>
                        </label><br>
                        {% comment %} <input type="text" class="form-control" name="instagram" id="instagram" {% if profile.instagram %} value="{{profile.instagram}}" {% else %} placeholder="Instagram" {% endif %}> {% endcomment %}
                     {{ form.instagram.errors }}
                            {{ form.instagram }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="linkedin">
                            <h4>Linked in</h4>
                        </label><br>
                        {% comment %} <input type="text" class="form-control" name="linkedin" id="linkedin" {% if profile.linkedin %} value="{{profile.linkedin}}" {% else %} placeholder="LinkedIn" {% endif %}> {% endcomment %}
                    {{ form.linkedin.errors }}
                            {{ form.linkedin }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="address">
                            <h4>Address</h4>
                        </label><br>
                        {% comment %} <textarea class="form-control" id="location" {% if profile.address %} value="{{profile.address}}" {% else %} placeholder="Somewhere" {% endif %}></textarea> {% endcomment %}
                   {{ form.address.errors }}
                            {{ form.address }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <button class="btn col-2 float-right mt-4 btn-lg btn-danger" type="submit" value="Update"> Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </form>
</div>
</div>
</section>
{% endblock %}

{% block script_block %}
    <script src="{% static 'js/editprofile.js' %}"></script>
{% endblock script_block %}