{% extends 'base.html' %}{% load static %}
{% block body_block %}
<h1>Search Results:</h1>
{% if users %}
<div class="container mb-3" id="search-results-user">
    <h3>Users:</h3>
    {% for user1 in users %}
    <div class="col-sm-12 row request">
        <div class="col-sm-2">
            <img src="{{ user1.profile.profile_photo.url }}" class="img-circle" alt='img' width="60px">
        </div>
        <div class="col-sm-6">
            <h4><a href="#">{{ user1.first_name }} {{ user1.last_name }}</a></h4>
        </div>
        {% if user == user1 %}
            <div class="col-sm-4 row"> You </div>
        {% else %}
            {% if user1.profile in user.profile.connections.all %}
                <div class="col-sm-4 row"> Connected </div>
            {% else %}
                <div class="col-sm-4 row">
                    <button class="btn btn-danger rounded-0 col-5 mr-2 connect" url="{% url 'profiles:send_connection_request' %}" user_id="{{ user1.id }}">Connect</button>
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endif %}


{% if blogs %}
    <h3>Blogs:</h3>
    {% for blog in blogs %}
        {{ blog }} <br>
    {% endfor %}
{% endif %}

{% if posts %}
<h3>Posts:</h3>
    {% for post in posts %}
        {{ post }} <br>
    {% endfor %}
{% endif %}

{% endblock body_block %}

{% block script_block %}
<script src="{% static 'js/connection_request.js' %}"></script>
{% endblock script_block %}