{% extends 'base.html' %}{% load static %}
{% block body_block %}
<section class='container mt-4'>
<h2>Search Results:</h2>
{% if users %}
<div class="mb-3 mt-3" id="search-results-user">
    <h4>Users</h4>
    {% for user1 in users %}
    <div class="col-sm-12 row request">
        <div class="col-sm-2">
            <img src="{{ user1.profile.profile_photo.url }}" class="img-circle" alt='img' width="60px">
        </div>
        <div class="col-sm-6">
            <h4><a href="{% url 'profiles:profile_main' username=user1.username %}">{{ user1.first_name }} {{ user1.last_name }}</a></h4>
        </div>
        {% if user == user1 %}
            <div class="col-sm-4 row"> You </div>
        {% else %}
            {% if user1.profile in user.profile.connections.all %}
                <div class="col-sm-4 row"> Connected </div>
            {% else %}
                <div class="col-sm-4 row">
                    <button class="btn btn-danger rounded-0 col-5 mr-2 connect" url="{% url 'profiles:send_connection_request' %}" user_id="{{ user1.id }}">Connect</button>
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endif %}

<div class='mb-3 mt-3'>
{% if blogs %}
    <h3>Blogs:</h3>
    {% for blog in blogs %}
        <div class="col-sm-12 row request">
            <div class="col-sm-2">
                <img src="{{blog.image.url}}" alt='img' width="60px">
            </div>
            <div class="col-sm-10">
                <h4><a href="#">{{blog}}</a></h4>
            </div>
        </div>
    {% endfor %}
{% endif %}


</div>

{% if posts %}
<h3>Posts:</h3>
    {% for post in posts %}
        <div class="col-sm-12 row request">
            <div class="col-sm-2">
                <img src="" class="img-circle" alt='img' width="60px">
            </div>
            <div class="col-sm-10">
                <h4><a href="#">{{post}}</a></h4>
            </div>
        </div>
    {% endfor %}
{% endif %}

</div>
</section>
{% endblock body_block %}

{% block script_block %}
<script src="{% static 'js/connection_request.js' %}"></script>
{% endblock script_block %}