{% extends 'base.html' %}{% load static %}
{% block body_block %}

<div class='text-center mt-4'><button id="createpost" data-toggle="modal" data-target="#myModal" class='col-lg-5 col-md-8 col-sm-10 mx-auto p-2 m-2 btn btn-danger'><span>+ Create a post</span></button></div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style='margin: -0rem  0.3rem -1rem;'>
                <h4 class="modal-title">Create Post</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body mt-4">
                <form id='post-form' class='col-11 mx-auto' action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <input class="btn btn-danger rounded-0 mt-3 float-right" type="submit" value="Post">
                </form>
            </div>
        </div>

    </div>
</div>


{% for feed in feeds %}
    <div class="pt-1">
    <div class="post-card card col-lg-5 col-md-8 col-sm-10 mx-auto mb-3">
        <div class="card-header row">
            <div class='col-2' style='padding:0.2rem'><img class="rounded-circle img-fluid" src="{{ feed.author.profile.profile_photo.url }}" alt="userimg"></div>
            <div class='col-10 row'><strong>{{ feed.author.first_name }} {{ feed.author.last_name }}</strong></div>
        </div>
        <p class="caption">{{feed.content}}</p>
        <a href="{% url 'post:feed_detail' pk=feed.id %}">
            <img src="{{ feed.image.url }}" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <div class="text-center row mb-2">
                <a href="#" pid="{{ feed.id }}" class="col-6 like" url="{% url 'post:toggle_like_post' %}"><i class="fa fa-thumbs-up"></i> Like</a>
                <a href="{% url 'post:feed_detail' pk=feed.id %}" class="col-6"><i class="fa fa-comment"></i> Comment</a>
            </div>
            <div class="row">
                <small class="col-6">{% if feed.likes.all.count == 1 %} <span class="like-count">{{ feed.likes.all.count }}</span>
                    Like{% else %}<span class="like-count">{{ feed.likes.all.count }}</span> Likes{% endif %} ,
                    {% if feed.comment_set.all.count == 1 %}{{ feed.comment_set.all.count }}
                    Comment{% else %}{{ feed.comment_set.all.count }} Comments{% endif %}
                </small>
                <small class="col-6 text-right">{{feed.date}}</small>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock body_block %}

{% block script_block %}
<script src="{% static 'js/feed.js' %}"></script>
<script src="{% static 'js/post_like.js' %}"></script>
{% endblock script_block %}
