{% extends 'base.html' %}{% load static %}
{% block body_block %}

<div class="pt-1">
    <div class="post-card card shadow col-lg-5 col-md-8 col-sm-10 mx-auto mb-3">
        <div class="card-header row">
            <div class='col-2' style='padding:0.2rem'><img class="img-circle rounded-circle img-fluid" src="{{ post.author.profile.profile_photo.url }}"
                alt="userimg"></div>
            <div class='col-10 row'><strong>{{ post.author.first_name }} {{ post.author.last_name }}</strong></div>
        </div>
        <p class="caption">{{post.content}}</p>
        <img src="{{ post.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="text-center row mb-2">
                <a href="#" pid="{{ post.id }}" class="col-6 like" url="{% url 'post:toggle_like_post' %}"><i class="fa fa-thumbs-up"></i> Like</a>
                <a href="#" class="col-6"><i class="fa fa-comment"></i> Comment</a>
            </div>
            <div class="row">
                <small class="col-6">{% if post.likes.all.count == 1 %}{{ post.likes.all.count }} Like{% else %}{{ post.likes.all.count }} Likes{% endif %} , 
                    {% if post.comment_set.all.count == 1 %}{{ post.comment_set.all.count }} Comment{% else %}{{ post.comment_set.all.count }} Comments{% endif %}
                </small>
                <small class="col-6 text-right">{{post.date}}</small>
            </div>


                <div class="comment-list">
                    <h3 class='pt-2'>Comments</h3>
                    {% for comment in post.comment_set.all %}
                        <div class="single-comment justify-content-between d-flex">
                            <div class="col-12 user d-flex">
                                <div class="thumb">
                                    <img class='userimg' src="{{ comment.user.profile.profile_photo.url }}" alt='userimg'>
                                </div>
                                <div class="desc">
                                    <h5><a href="#">{{ comment.user.first_name }} {{ comment.user.last_name }}</a></h5>
                                    <p class="date">{{ comment.date}}</p>
                                    <p class="comment">
                                        {{ comment.comment }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>

                    <form id="comment-form">
                        {% csrf_token %}
                        <div class="form-group row">
                            <input type="text" id="comment-input" pid="{{ post.id }}" url="{% url 'post:post_comment' %}" class="col-11 form-control" id="subject" placeholder="Comment">
                            <button type="submit" class="col-1 btn"><i class='fa fa-send-o'></i></button>
                        </div>
                    </form>

        </div>
    </div>
</div>

{% endblock body_block %}

{% block script_block %}
<script src="{% static 'js/post_like.js' %}"></script>
{% endblock script_block %}